[submodule "examples"]
	path = Examples
	url = git@github.com:ProtocolLearn/ProtocolLearn-Examples.git
[submodule "libraries"]
	path = Libraries
	url = git@github.com:ProtocolLearn/ProtocolLearn-Libraries.git
[submodule "utilities"]
	path = Utilities
	url = git@github.com:ProtocolLearn/ProtocolLearn-Utilities.git
[submodule "protocols"]
	path = Protocols
	url = git@github.com:ProtocolLearn/ProtocolLearn-Protocols.git
